QPushButton{
min-height: 80px;
min-width: 80px;
margin: 5px;
border-color: black;
border-width: 1px;
border-style: solid;
border-radius: 5px;
background-position: center;
background-origin: content;
background-clip: padding;
background-repeat: no-repeat;
}

QPushButton#pushButton_0{
background-image: url(:inX+.png);
}

QPushButton#pushButton_1{
background-image: url(:inX-.png);
}

QPushButton#pushButton_2{
background-image: url(:inX+Y+.png);
}

QPushButton#pushButton_3{
background-image: url(:inX+Y-.png);
}

QPushButton#pushButton_4{
background-image: url(:inX-Y+.png);
}

QPushButton#pushButton_5{
background-image: url(:inX-Y-.png);
}

QPushButton#pushButton_6{
background-image: url(:inY+.png);
}

QPushButton#pushButton_7{
background-image: url(:inY-.png);
}

